# Dotfile management
alias dfman="$(which git) --git-dir=$HOME/projects/dotfiles.git --work-tree=$HOME"
alias dfadd="dfman add"
alias dfci="dfman commit"
alias dfcam="dfman commit -am"
alias dfdiff="dfman diff"
alias dfst="dfman status"

# Ruby
alias b="bundle"
alias by="bundle && yarn"
alias bo="bundle outdated"
alias boe="bundle outdated --only-explicit"
alias bup="bundle update"
alias outdated="bundle outdated;npm outdated"

# Rails
alias ci="bin/ci"
alias dbst="rails db:migrate:status"
alias dbmi="rails db:migrate"
alias dbro="rails db:rollback"
alias rt="bin/rails test"

# JavaScript
alias no="yarn outdated"
alias nup="yarn upgrade"

# Docker
alias dis="docker images"
alias dps="docker ps"
alias dcu="docker compose up"
alias lzd="lazydocker"

# git
alias gcam="git commit -am"
alias gcm="git commit -m"
alias lzg="lazygit"

# gh aliases
alias gha="gh run list -u toddsiegel"
alias ghw="gh run watch"

# aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
