[init]
	defaultBranch = main
[user]
	name = Todd Siegel
	email = todd@solerasoftware.com
[color]
	ui = auto
[color "diff"]
        old = red dim
        new = brightgreen bold
[commit]
        template = ~/.gitmessage
        verbose = true
[core]
        editor = vim
	excludesfile = ~/.gitignore_global
[fetch]
        prune = true
[alias]
	adp = add -p
	alias = config --get-regexp ^alias\\.
	amend = commit --amend
	autosquash = rebase -i --autosquash
	ap = add --patch
	br = branch -vv
	ci = commit -v
	co = checkout
	fixup = commit --fixup
	nomend = commit --amend --no-edit
        rbi = rebase -i
        rbim = rebase -i main
	remain = !git fetch origin && git rebase origin/main
	review = show main.. --reverse
	slog = log --pretty=oneline --abbrev-commit
        squash = commit --squash
	st = status --short --branch
	staged = diff --cached
	stf = !git status -s | cut -c4- | xargs
	sum = log --pretty=oneline --abbrev-commit --name-status --reverse
	summ = log --pretty=oneline --abbrev-commit --name-status --reverse main..
	todo = !git diff main.. | grep "^+.*TODO"
	undo = reset HEAD~
	wip = commit --message=WIP
[push]
	default = current
[rebase]
	autosquash = true
